body {
  background-image: url('../img/photo-1.jpg');
  background-repeat: no-repeat;
}

#main {
  display: flex;
}

.tasks-column {
  width: calc(100% / 3);
  border: 1px solid black;
  margin-right: 20px;
  padding: 20px;
}

.tasks-column:first-child {
  margin-left: 20px;
}

.tasks-column__card {
  width: 100%;
  font-size: 24px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
}

.tasks-column__card:hover {
  cursor: pointer;
}

.tasks-column__delete-card-button {
  background: transparent;
  border: 1px solid black;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.tasks-column__button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
}

.tasks-column__button:active {
  transform: scale(0.8);
}

.tasks-column__input {
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  margin-top: 10px;
}

.tasks-column__add-card-button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: green;
  color: white;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.dragged {
  cursor: grabbing;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background: #fff;
}
